{% extends "base.html" %}

{% block title %}
Student Update
{% endblock title %}

{% block body %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12">
            <div class="card shadow-lg border-primary">
                <div class="card-header text-white bg-primary">
                    <h4 class="text-center">Update Student Information</h4>
                </div>
                <div class="card-body bg-light">
                    <form action="/studentmgt/student_do_update/{{ std.st_id }}" method="POST">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label for="roll"><strong>Roll Number: {{ std.st_id }}</strong></label>
                            <input name="st_id" type="text" class="form-control border-primary" id="roll" hidden="true" required value="{{ std.st_id }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="fname">First Name</label>
                            <input name="fname" type="text" class="form-control border-primary" id="fname" placeholder="Enter First Name" required value="{{ std.fname }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="lname">Last Name</label>
                            <input name="lname" type="text" class="form-control border-primary" id="lname" placeholder="Enter Last Name" required value="{{ std.lname }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="dob">Date Of Birth</label>
                            <input type="date" id="dob" name="dob" class="form-control border-primary" value="{{ std.dob|date:'Y-m-d' }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="gender">Gender</label>
                            <div class="form-check">
                                <input type="radio" id="male" name="gender" value="M" class="form-check-input" required {% if std.gender == 'M' %} checked {% endif %}>
                                <label for="male" class="form-check-label">Male</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" id="female" name="gender" value="F" class="form-check-input" required {% if std.gender == 'F' %} checked {% endif %}>
                                <label for="female" class="form-check-label">Female</label>
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label for="email">Student Email</label>
                            <input name="st_email" type="email" class="form-control border-primary" id="email" placeholder="Enter Student's Email" required value="{{ std.st_email }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="pemail">Parent's Email</label>
                            <input name="pr_email" type="email" class="form-control border-primary" id="pemail" placeholder="Enter Parent's Email" required value="{{ std.pr_email }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Phone</label>
                            <input name="phone" type="text" class="form-control border-primary" id="phone" placeholder="Enter Phone Number" required value="{{ std.phone }}">
                        </div>
                        <div class="form-group mb-3">
                            <label for="address">Address</label>
                            <textarea name="address" id="address" rows="5" class="form-control border-primary" required>{{ std.address }}</textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="courses">Courses</label>
                            <select name="courses" id="courses" class="form-control border-primary" multiple required>
                                {% for course in courses %}
                                <option value="{{ course.c_id }}" {% if course in std.courses.all %} selected {% endif %}>
                                    {{ course.cname }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-user-edit"></i> Update Student</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}
