{% extends "base.html" %}

{% block title %}
Student Update
{% endblock title %}

{% block body %}
<h1>Student Update</h1>

<div class="card-body">
    <form action="/studentmgt/student_do_update/{{std.st_id}}" method="POST">
      {% csrf_token %}
        <div class="md-3">
        <label for="roll">Roll</label>
        <input name="st_id"type="text" class="form-control" id="roll" placeholder="Enter Your Roll Id" required value={{std.st_id}}>
        </div>
        <div class="md-3">
          <label for="fname">First Name</label>
          <input name= "fname"type="text" class="form-control" id="fname" placeholder="Enter Your First Name" required value={{std.fname}}>
        </div>
        <div class="md-3">
          <label for="lname">Last Name</label>
          <input name= "lname" type="text" class="form-control" id="lname" placeholder="Enter Your Last Name" required value={{std.lname}}>
        </div>
        <div class="md-3 my-3">
          <label for="dob">Date Of Birth</label>
          <input type="date" id="dob" name="dob" class="ml-3" value="{{ std.dob|date:'Y-m-d' }}">
        </div>
        <div class="md-3 my-2">
          <label for="gender">Gender Select</label>
        <input type="radio" id="male" name="gender" value="MALE" class="ml-3" required {% if std.gender == 'MALE' %} checked {% endif %}>
        <label for="male ">Male</label>
        <input type="radio" id="female" name="gender" value="FEMALE" class="ml-3" required {% if std.gender == 'FEMALE' %} checked {% endif %}>
        <label for="female">Female</label>
        </div>
        <div class="md-3">
          <label for="email">Student Email</label>
          <input name= "st_email" type="email" class="form-control" id="email" placeholder="Enter Student's Email" required value={{std.st_email}}>
        </div>
        <div class="md-3">
          <label for="email">Student's Parent Email</label>
          <input name= "pr_email" type="email" class="form-control" id="pemail" placeholder="Enter Parent's Email" required value={{std.pr_email}}>
        </div>
        <div class="md-3">
          <label for="phone">Phone</label>
         <input name="phone"type="number" class="form-control" id="phone" placeholder="Enter Phone Number" required value={{std.phone}}>
        </div>
        <div class="md-3">
          <label for="address">Address</label>
         <textarea name="address" id="address" rows="5"  class="form-control"  required>{{ std.address }}</textarea>
        </div>
        <div class="container text-center my-2">
          <button type="submit" class="btn btn-success">Update Student</button>
    </form>
</div>
{% endblock body %}