{% extends "base.html" %}

{% block title %}
Edit Subject
{% endblock title %}

{% block body %}
<h1>Edit Subject</h1>
<div>
    <form action="/coursemgt/subject_do_update/{{ s.sb_id }}" method="POST">
                        {% csrf_token %}
    <label for="sb_id">Subject ID</label>
    <input type="text" name="sb_id" id="sb_id" value="{{s.sb_id}}">
    <label for="sbname">Subject Name</label>
    <input type="text" name="sbname" id="sbname" value="{{s.sbname}}">
    <div class="form-group mb-3">
        <label for="courses">Courses</label>
        <select name="courses" id="courses" class="form-control border-primary" multiple required>
            {% for course in courses %}
            <option value="{{ course.c_id }}" {% if course in s.courses.all %} selected {% endif %}>
                {{ course.cname }}
            </option>
            {% endfor %}
        </select>
    </div>
    <button type="submit">Update Subject</button>
</form>
</div>

{% endblock body %}