{% extends "base.html" %}
{% block linker %}

<style>
    .student-list {
        margin: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .student-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .student-item input {
        width: 50px;
    }
</style>
{% endblock linker %}
{% block title %}
Quiz 
{% endblock title %}

{% block body %}
<h1>Quiz </h1>
<form method="GET" action="" class="form-inline justify-content-center mb-4" onchange="this.form.submit()">
    <label for="batch" class="mr-2">Select Batch:</label>
    <select name="batch" id="batch" class="form-control mr-2">
        <option selected disabled value="">Select Batch</option>
        {% for batch in batches %}
            <option value="{{ batch.batch_mon }}-{{ batch.batch_year }}" 
                {% if selected_batch %} 
                    {% if selected_batch == batch.batch_mon|stringformat:"d"|add:"-"|add:batch.batch_year|stringformat:"d" %} selected {% endif %} 
                {% endif %}>
                {{ batch.batch_mon }} - {{ batch.batch_year }}
            </option>
        {% endfor %}
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<form action="{% url 'quiz_submit' sbname%}" method="POST" class="form">
    {% csrf_token %}
    
    <h2>Total Marks:</h2>
<input type="number" name="total" placeholder="Total Marks" required>
<div class="student-list">
    <!-- Loop over the students -->
    {% for student in students %}
    <div class="student-item">
        <!-- Display student full name -->
        <span>{{ student.fname }} {{ student.lname }}</span>
        <!-- Input box for entering scored marks -->
        <input type="number" name="scoredmarks_{{ student.st_id }}" required>
    </div>
    <hr>
    {% endfor %}
</div>
<div class="text-center">
    {% if not students or selected_batch == None %}
    <div class="alert alert-warning" role="alert">
        Cannot Submit Record, check batches mismatch
    </div>
    {% else %}
    <button type="submit" class="btn btn-primary btn-block">Submit</button>
    {% endif %}
</div>
</form>
{% endblock body %}